<!doctype html>
<html lang="en" class="light-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="../../front_assets/img/logo.ico" type="image/webp" />

    <!-- CSS files -->

    <link href="../../front_assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../front_assets/plugins/slick/slick-theme.css" />

    <link href="../../front_assets/css/style.css" rel="stylesheet">
    <link href="../../front_assets/css/dark-theme.css" rel="stylesheet">


    <title>Amjanata</title>
    <style>
        .list {
            width: 250px !important;
            font-weight: 500 !important;
        }

        @media screen and (max-width: 576px) {
            .size {
                width: 50%;
            }

            /* .size1 {
        width: 40%;
      } */

            .deals-text {
                margin-bottom: 85px !important;
            }

            .deals {
                height: 200px !important;
                width: 100%;
                max-width: 155px;
            }

            .deal {
                width: 100px !important;
                height: 100px !important;
            }

            /* .deals-img {
        width: 100%;

      } */
        }
    </style>
</head>

<body class="container-fluid">
    <!--page loader-->
    <div class="loader-wrapper d-none">
        <div
            class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <!--end loader-->

    <div class="text-center" style="background-color: #8aff5f;">
        <p>Amjanata</p>
    </div>

    <!--start top header-->
    <header class="mb-2 py-5 mx-sm-auto top-header">
        <nav class="navbar navbar-expand-md w-100 navbar-dark container-lg ">
            <a class="navbar-brand d-none d-xl-inline" href="/"><img src="../../front_assets/img/logo.png"
                    class="logo-img" alt=""></a>
            <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar">
                <i class="bi bi-list"></i>
            </a>
            <a class="mobile-menu-btn d-inline d-xl-none" href="javascript:;" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar">
                <img src="../../front_assets/img/logo.png" class="logo-img" alt="">
            </a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header justify-content-end">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body primary-menu">
                    <ul class="navbar-nav justify-content-start flex-grow-1 gap-2">

                        <div class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link categories dropdown-toggle dropdown-toggle-nocaret m-2 px-3 py-0 px-5"
                                style="
                  height: 40px; border-radius:5px; font-size:small;font-weight: 600;" href="javascript:;"
                                data-bs-toggle="dropdown">
                                Categories
                                <i class="bi bi-caret-down-fill"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <% parent.forEach(p=>{ %>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <%=p.parent_category%>
                                        </a>
                                    </li>
                                    <%});%>
                            </ul>

                        </div>

                        <div class="dropdown mx-1 nav-item d-none d-md-block d-lg-none">
                            <a class="categories btn btn-default dropdown-toggle m-2 px-3 py-2 px-5" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                style="font-size: small;padding: 7px 0;">
                                Categories
                            </a>
                            <ul class="dropdown-menu default-menu px-2" aria-labelledby="dropdownMenu1">
                                <% parent.forEach(p=>{ %>
                                    <li>
                                        <a class="dropdown-item" href="/">
                                            <%=p.parent_category%>
                                        </a>
                                    </li>
                                    <%});%>
                            </ul>
                        </div>

                        <div class="d-lg-block d-lg-flex d-md-flex d-none d-sm-none mt-2 position-relative search-box w-md-auto"
                            style="width: 70%;">
                            <div class="position-absolute position-absolute start-0 translate-middle ms-4 fs-5"
                                style="top: 21px;"><i class="bi bi-search" style="font-size:medium;"></i></div>
                            <input class="form-control form-control-lg ps-5 rounded-3 categories" style="width: 100%;
                  height: 40px; border-radius:5px; font-size:medium; border-width: 0;;" type="text"
                                placeholder="Search for Products, Brand and More">
                        </div>
                        <!-- <ul class="navbar-nav secondary-menu flex-row">
                  <li class="nav-item ">
                    <a class="nav-link" style="font-size:15px;font-weight: 500;" href="account-dashboard.html"><i
                        class="bi bi-person-circle me-2"></i>Login <i class="bi bi-caret-down-fill"></i></a>
                  </li>
                  <li class="nav-item " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <a class="nav-link position-relative" style="font-size:15px;font-weight: 500;" href="javascript:;">
                      <i class="bi bi-basket2 me-2"></i>
                      Cart
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" style="font-size:15px;font-weight: 500;" href="account-dashboard.html"><i
                        class="bi bi-shop-window me-2"></i>Become a Seller</a>
                  </li>
                  
                </ul> -->
                    </ul>
                </div>

            </div>
            <ul class="navbar-nav secondary-menu flex-row">

                <li class="dropdown mx-1 hov nav-item d-none d-md-none d-lg-block nic-1030">
                    <a class="btn btn-default " type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" style="font-size: 15px;padding: 7px 0;"><i
                            class="bi bi-person-circle me-2"></i>Login
                        <i class="fa-solid fa-angle-down submenuicon"> </i>
                    </a>

                    <ul class="shadow dropdown-menu list default-menu px-2 text-dark" aria-labelledby="dropdownMenu1">

                        <li class="my-1 d-flex align-items-center justify-content-between gap-1 text-center">
                            <p style="margin-bottom: 0;">New Customer?</p> <a class="text-primary" href="">Sign Up</a>
                        </li>
                        <hr>
                        <li>
                            <p><i class="bi bi-person-circle"></i> My Profile</p>
                        </li>
                        <li>
                            <p>Login</p>
                        </li>
                    </ul>
                </li>

                <li class="nav-item d-md-block d-md-flex d-sm-block d-sm-flex d-xl-none d-lg-none ic-1030">
                    <a class="nav-link" style="font-size:25px;font-weight: 500;" href="account-dashboard.html"><i
                            class="bi bi-person-circle me-2"></i></a>
                </li>
                <li class="nav-item d-lg-flex d-lg-flex d-md-none d-none d-sm-none nic-1030" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight">
                    <a class="nav-link position-relative" style="font-size:15px;font-weight: 500;" href="/product/cart">
                        <!-- <div class="cart-badge">8</div> -->
                        <i class="bi bi-basket2 me-2"></i>
                        Cart
                    </a>
                </li>
                <li class="nav-item d-md-block d-md-flex d-sm-block d-sm-flex d-xl-none d-lg-none ic-1030"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                    <a class="nav-link position-relative" style="font-size:25px;font-weight: 500;" href="javascript:;">
                        <i class="bi bi-basket2 me-2"></i>
                    </a>
                </li>
                <li class="nav-item d-lg-block d-lg-flex d-md-none d-none d-sm-none nic-1030">
                    <a class="nav-link" style="font-size:15px;font-weight: 500;" href="account-dashboard.html"><i
                            class="bi bi-shop-window me-2"></i>Become a Seller</a>
                </li>
                <!-- <li class="nav-item d-md-block d-md-flex d-sm-block d-sm-flex d-xl-none d-lg-none ic-1030">
              <a class="nav-link" style="font-size:25px;font-weight: 500;" href="account-dashboard.html"><i
                  class="bi bi-shop-window me-2"></i></a>
            </li> -->

            </ul>

            <li class="d-lg-none d-md-none d-md-flex d-sm-block d-sm-flex d-xl-none mb-4 mx-auto search w-100 me-1"
                style="list-style: none;">

                <div class="d-flex align-items-center justify-content-between w-100">

                    <div class="dropdown mx-1 nav-item">

                        <a class="categories btn btn-default dropdown-toggle px-1" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            style="font-size: small;padding: 7px 0;">
                            Categories
                        </a>
                        <ul class="dropdown-menu default-menu px-2" aria-labelledby="dropdownMenu1">
                            <% parent.forEach(p=>{ %>

                                <li><a href="/">
                                        <%=p.parent_category%>
                                    </a></li>
                                <%});%>
                        </ul>
                    </div>

                    <form class="categories rounded-3 w-100 d-flex" style="width: 255px;border-radius: 15px;">
                        <button class="rounded-3 categories" type="submit"><i
                                class="fa fa-search text-secondary"></i></button>
                        <input id="smallSearchBar" class="rounded-3 categories fs-6"
                            style="outline: none; border-radius: 15px;" type="text"
                            placeholder="Search for Products, Brand ...." name="search">
                    </form>
                </div>
            </li>

            <!-- <ul class="navbar-nav secondary-menu flex-row">
            <li class="nav-item dropdown" style="list-style: none;">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" style="font-size:15px;font-weight: 700;" href="javascript:;"
              data-bs-toggle="dropdown">
                <i class="bi bi-list"></i></a>
    
            </li>
    
          </ul> -->
        </nav>
    </header>
    <!--end top header-->



    <!--start page content-->
    <div class="page-content" style="margin-bottom: 100px;">

        <div class="container">
            <img src="img/ribon/Group 45.png" class="d-none d-lg-block img-fluid" alt="">

            <img src="img/ribon/Group 45-3.png" class="cart-img img-fluid" alt="">

            <form action="/customer/post_order" method="post">
                <div class="row my-5 ">
                    <style>
                        input {
                            width: 100%;
                            border: 1px solid #aaa;
                            border-radius: 4px;
                            /* margin: 8px 8px; */
                            outline: none;
                            padding: 8px;
                            box-sizing: border-box;
                            transition: .3s;
                        }

                        input[type=text]:focus {
                            border-color: dodgerBlue;
                            box-shadow: 0 0 8px 0 dodgerBlue;
                        }
                    </style>
                    <%let products=locals.session.products%>
                        <%if(products && products.length>0){%>

                            <%let subT=0 %>
                                <%products.forEach(element=>{%>
                                    <%subT= subT + element.price_without_discount%>
                                        <%});%>
                                            <div class="col-lg-6 col-sm-12 mb-2">
                                                <div
                                                    class="bg-warning text-dark d-flex justify-content-between p-2 rounded">
                                                    <div><span>
                                                            <%=products.length%> Items
                                                        </span></div>
                                                    <div>Subtotal:<span style="color: #FF406C;" class="sub_total sub_t">
                                                            <%= subT%>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div
                                                    class="d-none d-flex align-items-center justify-content-around mt-2 text-dark bg-light p-2">
                                                    <div class=" p-2" style="flex: 1;">Image</div>
                                                    <div class=" p-2" style="flex: 1.5;">Quantity</div>
                                                    <div class=" p-2" style="flex: 1;">Price</div>
                                                    <div class=" p-2" style="flex: 1;">Total</div>
                                                    <div class=" p-2" style="flex: 1;">Action</div>
                                                </div>

                                                <%products.forEach(p=>{%>

                                                    <div class="mt-2" style="border: 2px solid green;"
                                                        id="productcartContainer_<%=p.id%>">
                                                        <div
                                                            class="d-flex align-items-center justify-content-around mt-3">
                                                            <div>
                                                                <img src="<%=p.primary_image%>" class="img-fluid"
                                                                    alt="Not available" height="100" width="100">
                                                                <div class="text-center">
                                                                    Title: <%=p.name%>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="d-flex justify-center md:w-1/5 "
                                                                    style="flex:1.5">
                                                                    <span
                                                                        onclick="change_quantity_value('plus','<%=p.id%>', this )"
                                                                        class="px-3 py-2 font-bold border hover:border-gray-800">+
                                                                    </span>
                                                                    <span class="quantity-counter p-2" id="input">
                                                                        <%=p.qty%>
                                                                    </span>
                                                                    <span
                                                                        onclick="change_quantity_value('minus','<%=p.id%>', this )"
                                                                        class="px-3 py-2 font-bold border hover:border-gray-800">-</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <h5>
                                                                    <%=p.selling_price%> ৳
                                                                </h5>
                                                            </div>

                                                            <div>
                                                                <h5 id="price_without_discount_<%=p.id%>">
                                                                    <%=p.price_without_discount%> ৳
                                                                </h5>
                                                            </div>
                                                            <div>
                                                                <div class="bd-highlight me-2 mb-2"
                                                                    onclick="deleteSessionProduct('<%=p.id%>')">
                                                                    <svg class="d-none"
                                                                        xmlns="http://www.w3.org/2000/svg" width="20"
                                                                        height="50" viewBox="0 0 40 30" fill="none">
                                                                        <path
                                                                            d="M14.2055 1.34161H26.5678M1.84326 7.52274H38.93M34.8093 7.52274L33.3644 29.1964C33.1476 32.4482 33.0392 34.0741 32.3369 35.3069C31.7185 36.3923 30.7859 37.2649 29.6618 37.8096C28.385 38.4284 26.7555 38.4284 23.4965 38.4284H17.2768C14.0178 38.4284 12.3883 38.4284 11.1115 37.8096C9.98743 37.2649 9.05476 36.3923 8.43643 35.3069C7.73411 34.0741 7.62571 32.4482 7.40893 29.1964L5.96402 7.52274"
                                                                            stroke="#8D8D8D" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                    </svg>
                                                                    <i class="fas fa-times"></i>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-none mt-2 d-flex justify-content-between p-2 "
                                                        style="border: 2px solid#FF406C;">
                                                        <div class="d-flex align-items-center gap-3">
                                                            <div>
                                                                <img src="img/ribon/image 9.png" class="img-fluid"
                                                                    alt="">
                                                            </div>
                                                            <div>
                                                                <h5>Product Name Here</h5>
                                                                <p>Lorem ipsum dolor </p>
                                                                <span>BDT 500</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-end flex-column bd-highlight">
                                                            <div class="bd-highlight me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="40" viewBox="0 0 40 30" fill="none">
                                                                    <path
                                                                        d="M14.2055 1.34161H26.5678M1.84326 7.52274H38.93M34.8093 7.52274L33.3644 29.1964C33.1476 32.4482 33.0392 34.0741 32.3369 35.3069C31.7185 36.3923 30.7859 37.2649 29.6618 37.8096C28.385 38.4284 26.7555 38.4284 23.4965 38.4284H17.2768C14.0178 38.4284 12.3883 38.4284 11.1115 37.8096C9.98743 37.2649 9.05476 36.3923 8.43643 35.3069C7.73411 34.0741 7.62571 32.4482 7.40893 29.1964L5.96402 7.52274"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </div>
                                                            <div class="d-flex align-items-center mt-auto">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="30" viewBox="0 0 40 40" fill="none">
                                                                    <path
                                                                        d="M12.8936 19.9589H27.7283M38.8544 19.9589C38.8544 30.2001 30.5522 38.5023 20.311 38.5023C10.0697 38.5023 1.76758 30.2001 1.76758 19.9589C1.76758 9.71763 10.0697 1.41547 20.311 1.41547C30.5522 1.41547 38.8544 9.71763 38.8544 19.9589Z"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                                <p class="mx-3" style="margin-bottom: 0px;"> 2 </p>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="30" viewBox="0 0 34 34" fill="none">
                                                                    <path
                                                                        d="M17.2946 10.7777V23.14M11.1135 16.9589H23.4758M32.7474 16.9589C32.7474 25.4932 25.829 32.4117 17.2946 32.4117C8.76026 32.4117 1.8418 25.4932 1.8418 16.9589C1.8418 8.42451 8.76026 1.50604 17.2946 1.50604C25.829 1.50604 32.7474 8.42451 32.7474 16.9589Z"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <%});%>
                                            </div>

                                            <style>
                                                input {
                                                    width: 100%;
                                                    border: 1px solid #aaa;
                                                    border-radius: 4px;
                                                    /* margin: 8px 8px; */
                                                    outline: none;
                                                    padding: 8px;
                                                    box-sizing: border-box;
                                                    transition: .3s;
                                                }

                                                input[type=text]:focus {
                                                    border-color: dodgerBlue;
                                                    box-shadow: 0 0 8px 0 dodgerBlue;
                                                }
                                            </style>

                                            <div class="col-lg-6 col-sm-12">

                                                <div class="mb-2 p-3 text-dark" style="border: 2px solid green;">
                                                    <h2 class="mb-4">Customer Information</h2>
                                                    <%let user=locals.session.auth_user%>
                                                        <%if(user){%>
                                                            <div class="row">
                                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                                                                    <div><span>Mobile</span></div>
                                                                    <div><input type="text" id="mobile" name="mobile"
                                                                            value="<%=user.mobile%>"
                                                                            placeholder="১১ ডিজিটের মোবাইল নাম্বারটি লিখুন।" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                                                                    <div><span>Email</span></div>
                                                                    <div><input type="email" id="email"
                                                                            value="<%=user.email%>"
                                                                            placeholder="xyz@gmail.com" name="email">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">

                                                                    <div><span>Full Name</span></div>
                                                                    <div><input type="text" id="name" name="name"
                                                                            value="<%=user.customer_name%>"
                                                                            placeholder="Dr.John"></div>

                                                                </div>
                                                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">

                                                                    <div><span>Area/ Address</span></div>
                                                                    <div><input type="text" id="address" name="address"
                                                                            placeholder="Dhanmondi,street-1200"
                                                                            ></div>
                                                                </div>

                                                            </div>
                                                            <%}%>

                                                                <div class="row">
                                                                    <div class="col-12 mb-2">
                                                                        <div><span class="text">Select
                                                                                Delivery</span></div>
                                                                        <select required class="form-select"
                                                                            aria-label="Default select example"
                                                                            name="delivery" value="">
                                                                            <option value="">Select delivery
                                                                            </option>
                                                                            <option value="60">ঢাকা সিটির ভিতরে
                                                                                হোম ডেলিভারি (60Tk)</option>
                                                                            <option value="150">ঢাকা সিটির
                                                                                বাহিরে হোম ডেলিভারি (150Tk)
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <!-- <div class="mt-4">
                                        <button class="btn text-light container" style="background-color: #FF406C;">Process To Checkout</button>
                                    </div> -->
                                                </div>

                                                <div class="p-3 text-dark" style="border: 2px solid green;">
                                                    <h2 class="mb-4">Order Summary</h2>
                                                    <div class="mb-1 d-flex justify-content-between align-items-center">
                                                        <div><span>Subtotal : </span></div>

                                                        <div><span class="sub_total">
                                                                <%=subT%>
                                                            </span></div>
                                                    </div>
                                                    <div class="mb-1 d-flex justify-content-between align-items-center">
                                                        <div><span>Delivery Fee : </span></div>
                                                        <div><span id="delivery_fee">0</span></div>
                                                    </div>
                                                    <div class="mb-1 d-flex justify-content-between align-items-center">
                                                        <div><span>Total Amount: </span></div>
                                                        <div><span id="total_amount">0</span></div>
                                                    </div>

                                                    <div class="mt-4">
                                                        <button type="submit" class="btn text-light container"
                                                            style="background-color: green;">Order
                                                            Confirm</button>
                                                    </div>
                                                </div>

                                            </div>

                                            <%}else{%>
                                                <div class="border fw-bold text-success text-center p-3"
                                                    style="font-size: 25px;">Cart iS Empty......</div>
                                                <%}%>

                                                    <div class="d-none mt-2 d-flex justify-content-between p-2 "
                                                        style="border: 2px solid#FF406C;">
                                                        <div class="d-flex align-items-center gap-3">
                                                            <div>
                                                                <img src="img/ribon/image 9.png" class="img-fluid"
                                                                    alt="">
                                                            </div>
                                                            <div>
                                                                <h5>Product Name Here</h5>
                                                                <p>Lorem ipsum dolor </p>
                                                                <span>BDT 500</span>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex align-items-end flex-column bd-highlight">
                                                            <div class="bd-highlight me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="40" viewBox="0 0 40 30" fill="none">
                                                                    <path
                                                                        d="M14.2055 1.34161H26.5678M1.84326 7.52274H38.93M34.8093 7.52274L33.3644 29.1964C33.1476 32.4482 33.0392 34.0741 32.3369 35.3069C31.7185 36.3923 30.7859 37.2649 29.6618 37.8096C28.385 38.4284 26.7555 38.4284 23.4965 38.4284H17.2768C14.0178 38.4284 12.3883 38.4284 11.1115 37.8096C9.98743 37.2649 9.05476 36.3923 8.43643 35.3069C7.73411 34.0741 7.62571 32.4482 7.40893 29.1964L5.96402 7.52274"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </div>
                                                            <div class="d-flex align-items-center mt-auto">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="30" viewBox="0 0 40 40" fill="none">
                                                                    <path
                                                                        d="M12.8936 19.9589H27.7283M38.8544 19.9589C38.8544 30.2001 30.5522 38.5023 20.311 38.5023C10.0697 38.5023 1.76758 30.2001 1.76758 19.9589C1.76758 9.71763 10.0697 1.41547 20.311 1.41547C30.5522 1.41547 38.8544 9.71763 38.8544 19.9589Z"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                                <p class="mx-3" style="margin-bottom: 0px;"> 2 </p>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="30" viewBox="0 0 34 34" fill="none">
                                                                    <path
                                                                        d="M17.2946 10.7777V23.14M11.1135 16.9589H23.4758M32.7474 16.9589C32.7474 25.4932 25.829 32.4117 17.2946 32.4117C8.76026 32.4117 1.8418 25.4932 1.8418 16.9589C1.8418 8.42451 8.76026 1.50604 17.2946 1.50604C25.829 1.50604 32.7474 8.42451 32.7474 16.9589Z"
                                                                        stroke="#8D8D8D" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                </div>
            </form>
        </div>





    </div>
    <!--end page content-->

    <!--start footer-->
    <section class="footer-section bg-section-2 section-padding container mt-2 ">

        <div class="row">

            <div class="col-12 col-md-4 col-lg-3 col-xl-3" style="border: 0px solid ;">
                <div class="">
                    <h5 class="mb-3 fw-bold">About Us</h5>
                    <div class="list-unstyled">
                        <li><a href="javascript:;">About Amjanata</a></li>
                        <li><a href="javascript:;">Careers</a></li>
                        <li><a href="javascript:;">News & Blog</a></li>
                        <li><a href="javascript:;">Amjanata Brands</a></li>
                        <li><a href="javascript:;">Bullseye Shop</a></li>
                        <li><a href="javascript:;">Sustainability & Governance</a></li>
                        <li><a href="javascript:;">Press Center</a></li>
                        <li><a href="javascript:;">Advertise with Us</a></li>
                        <li><a href="javascript:;">Investors</a></li>
                        <li><a href="javascript:;">Affiliates & Partners</a></li>
                        <li><a href="javascript:;">Suppliers</a></li>
                        <li><a href="javascript:;">AmjanataPlus</a></li>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3 col-xl-3" style="border: 0px solid ;">
                <div class="">
                    <h5 class="mb-3 fw-bold">Help</h5>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;">Amjanata Help</a></li>
                        <li><a href="javascript:;">Returns</a></li>
                        <li><a href="javascript:;">Track Orders</a></li>
                        <li><a href="javascript:;">Recalls</a></li>
                        <li><a href="javascript:;">Contact Us</a></li>
                        <li><a href="javascript:;">Feedback</a></li>
                        <li><a href="javascript:;">Accessibility</a></li>
                        <li><a href="javascript:;">Security & Fraud</a></li>
                        <li><a href="javascript:;">Team Member Services</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3" style="border: 0px solid ;">
                <div class="">
                    <h5 class="mb-3 fw-bold">Stores</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-08.svg" alt=""
                                    style="width: 20px;"> Location</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3 col-xl-3" style="border: 0px solid ;">
                <div class="">
                    <h5 class="mb-3 fw-bold">Services</h5>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-01.svg" alt=""
                                    style="width: 20px;"> Amjanata
                                Circle</a></li>
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-03.svg" alt=""
                                    style="width: 20px;">
                                RedCard</a></li>
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-04.svg" alt=""
                                    style="width: 20px;"> Amjanata App</a>
                        </li>
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-05.svg" alt=""
                                    style="width: 20px;">
                                Registry</a></li>
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-06.svg" alt=""
                                    style="width: 20px;"> Delivery</a></li>
                        <li><a href="javascript:;">
                                <img src="../../front_assets/img/icons/amjanata icon-07.svg" alt=""
                                    style="width: 20px;"> Order Pickup</a></li>
                        <li><a href="javascript:;"><img src="../../front_assets/img/icons/amjanata icon-02.svg" alt=""
                                    style="width: 20px;"> Free 2-Day
                                Shipping</a></li>
                    </ul>
                </div>
            </div>

            <!--end row-->
        </div>

        <div>
            <img class="d-flex justify-content-center mx-auto my-0" style="width: 200px;"
                src="../../front_assets/img/logo.png" alt="">
        </div>

    </section>
    <!--end footer-->


    <!-- real footer -->


    <footer class="footer-strip text-center py-4 bg-section-2 bg-dark border-top positon-absolute bottom-0">
        <p class="mb-0 text-muted">Copyright ©2024 Amjanata. Designed By Ztrios Tech & Marketing</p>
    </footer>



    <!--start quick view-->




    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!--End Back To Top Button-->


    <!-- JavaScript files -->
    <script src="../../front_assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
        integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script src="../../front_assets/js/jquery.min.js"></script>
    <script src="../../front_assets/plugins/slick/slick.min.js"></script>
    <script src="../../front_assets/js/main.js"></script>
    <script src="../../front_assets/js/index.js"></script>
    <script src="../../front_assets/js/loader.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../../front_assets/js/axios_post.js"></script>



    <script>
        $(document).ready(function () {
            $('.btn-default').on('click', function () {
                $('.default-menu').slideToggle();
                $('.dropdown-overlay').show();
            });

            $('.dropdown-overlay').on('click', function () {
                $('.default-menu').hide();
                $(this).hide();
            });
            $('.top-category-carousal').slick()

            // Add click event handler to body
            $('body').on('click', function (event) {
                // Check if the clicked element is not inside the menu or the button
                if (!$(event.target).closest('.default-menu').length && !$(event.target).is('.btn-default')) {
                    $('.default-menu').hide();
                    $('.dropdown-overlay').hide();
                }
            });
        });
    </script>



    <script>
        let selectElement = document.querySelector('select[name="delivery"]');
        let delivery_fee = document.querySelector('#delivery_fee');
        // let sub_total = document.querySelector('#sub_total');
        let sub_t = document.querySelector('.sub_t');
        console.log('update Sub Total: ', sub_t.innerHTML);

        selectElement.addEventListener('change', function () {
            let selectedValue = selectElement.value;
            delivery_fee.innerHTML = selectedValue ? selectedValue : 0;
            let total_amount = document.querySelector('#total_amount');
            total_amount.innerHTML = parseInt(selectedValue) + parseInt(sub_t.innerHTML);
        });
    </script>


</body>

</html>